@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono");
* {
  box-sizing: border-box;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: width 0.2s;
  display: flex;
  flex-direction: column;
}

main.sidebar {
  width: calc(100vw - 250px);
}

#header_menu {
  width: 100%;
  height: 100px;
  display: flex;
}
#header_menu .logo {
  display: inline-block;
  background: center/cover url("../resources/liquid-logo.png");
  width: 76px;
  height: 44px;
  margin: 27px 20px;
}
#header_menu .title_menu {
  display: flex;
  flex-direction: column;
}
#header_menu .title_menu .title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
#header_menu .title_menu .menus {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  color: #777777;
}
#header_menu .title_menu .menus .menu {
  height: 20px;
}
#header_menu .title_menu .menus .menu span {
  cursor: pointer;
  padding: 0 5px 2px 5px;
}
#header_menu .title_menu .menus .menu .items {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #eee;
  z-index: 4;
  padding: 5px 0;
  color: #000;
}
#header_menu .title_menu .menus .menu .items a {
  display: block;
  cursor: pointer;
  padding: 0 10px;
}
#header_menu .title_menu .menus .menu .items a:hover {
  background: #eee;
}
#header_menu .title_menu .menus .menu:hover span {
  background: #eee;
}
#header_menu .title_menu .menus .menu.open span {
  background: #eee;
}
#header_menu .title_menu .menus .menu.open .items {
  display: block;
}
#header_menu .title_menu .menus.on,
#header_menu .title_menu .menus:hover {
  color: #000;
}
#header_menu .throwin_button {
  margin-left: auto;
  margin-right: 27px;
  margin-top: 27px;
}
#header_menu .throwin_button input {
  display: none;
}
#header_menu .throwin_button label[for$=file] {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background: #3ec435;
  color: #fff;
  border-radius: 5px;
}
#header_menu .throwin_button label[for$=file]:hover {
  filter: brightness(0.9);
}
#header_menu .throwin_button label[for$=file]:active {
  filter: brightness(0.8);
}
#header_menu .throwin_button label[for$=file] div {
  display: inline-block;
  opacity: 1;
  background: center/cover url("../resources/ico-file.png");
  filter: invert(1) brightness(3);
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

#dialog {
  position: absolute;
  z-index: 3;
  top: 23px;
  left: 105px;
  width: calc(100vw - 260px);
}

main.sidebar #dialog {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  border-left: 1px solid black;
  border-top: none;
  overflow: hidden;
  transition: right 0.2s;
}

#dialogue {
  padding: 10px 15px;
}
#dialogue .prompt {
  margin: 0 0 5px 0;
}
#dialogue.locked .option {
  pointer-events: none;
  opacity: 0.4;
}
#dialogue .option {
  display: inline-block;
  margin-right: 15px;
}
#dialogue .option input {
  display: none;
}
#dialogue .option label {
  display: inline-block;
  margin: 5px 0;
  padding: 5px 15px;
  background: #56a0e9;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
#dialogue .option label:hover {
  filter: brightness(0.9);
}
#dialogue .option input:checked ~ label {
  filter: brightness(0.8);
}

#toolbar {
  height: 0px;
}

#tabview {
  border-top: 1px solid black;
  width: inherit;
  flex-grow: 1;
}

main.sidebar #tabs {
  height: calc(100vh - 100px - 0px);
}
main.sidebar #tabs #throwin_set {
  height: calc(100vh - 100px - 0px - 45px);
}

#tabs {
  width: inherit;
  height: calc(100vh - 100px - 0px - 0px);
}
#tabs #throwin_set {
  height: calc(100vh - 100px - 0px - 0px - 45px);
}
#tabs #throwin_set .throwin {
  width: 100%;
  height: inherit;
  background: #fff;
  display: none;
  position: relative;
}
#tabs #throwin_set .throwin.active {
  display: block;
}
#tabs #throwin_set .throwin .text {
  white-space: pre;
  overflow-x: auto;
  font-family: "Ubuntu Mono", monospace;
  padding: 10px;
  height: inherit;
}
#tabs #throwin_set .throwin .table {
  height: inherit;
}
#tabs #throwin_set .throwin .json_select {
  overflow-x: auto;
  padding: 10px;
  height: inherit;
}
#tabs #throwin_set .throwin .json_select > label {
  padding: 0;
  display: inline-block;
}
#tabs #throwin_set .throwin .json_select > label:last-of-type {
  margin-bottom: 5px;
}
#tabs #throwin_set .throwin .json_select > label input {
  display: none;
}
#tabs #throwin_set .throwin .json_select > label > span {
  opacity: 0.5;
  cursor: pointer;
}
#tabs #throwin_set .throwin .json_select > label > span span {
  display: none;
}
#tabs #throwin_set .throwin .json_select > label > span:before {
  content: "☐ ";
}
#tabs #throwin_set .throwin .json_select > label input:checked ~ span {
  opacity: 1;
}
#tabs #throwin_set .throwin .json_select > label input:checked ~ span:before {
  content: "☑ ";
}
#tabs #throwin_set .throwin .json_select > label:hover > span, #tabs #throwin_set .throwin .json_select > label:hover input:checked ~ span {
  opacity: 0.7;
}
#tabs #throwin_set .throwin .json_select > label:hover > span span, #tabs #throwin_set .throwin .json_select > label:hover input:checked ~ span span {
  display: inline;
}
#tabs #throwin_set .throwin .json_select input[type=button] {
  display: none;
}
#tabs #throwin_set .throwin .json_select label[for^=json_submit] {
  position: absolute;
  top: 20px;
  right: 35px;
  background-color: #3ec435;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
#tabs #throwin_set .throwin .json_select label[for^=json_submit]:hover {
  filter: brightness(0.9);
}
#tabs #throwin_set .throwin .json_select label[for^=json_submit]:active {
  filter: brightness(0.8);
}
#tabs #throwin_set .throwin .json_select label[for^=json_submit]:before {
  content: "✓ ";
  font-weight: bold;
}
#tabs #throwin_set .throwin .webpage {
  height: inherit;
}
#tabs #throwin_set .throwin .webpage iframe {
  height: inherit;
  width: 100%;
  border: none;
}
#tabs #button_set {
  display: flex;
  align-items: flex-end;
  width: inherit;
  background: #eee;
  height: 45px;
}
#tabs #button_set .tab_button {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border: 1px solid lightgrey;
  border-left: none;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
}
#tabs #button_set .tab_button.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #56a0e9;
}

#tabs::after {
  position: absolute;
  content: "No files yet!";
  display: block;
  width: 100%;
  z-index: -1;
  text-align: center;
  padding-top: calc(50vh - 100px);
}

/* Tabulator overrides */
.tabulator {
  margin-bottom: 0;
}

.tabulator-cell {
  height: auto !important;
  font-size: 13px !important;
}
.tabulator-cell.tabulator-editing {
  padding-left: 3px !important;
}
.tabulator-cell.tabulator-editing input {
  font-size: 13px !important;
}

/*# sourceMappingURL=style.css.map */
