@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono")

body
	font-family: "Open Sans"

$nav-width: 230px
$nav-clsd: 20px
nav
	position: fixed
	left: $nav-clsd - $nav-width
	top: 0
	background-color: #c9d5ef
	width: $nav-width
	height: 100vh
	z-index: 3
	box-shadow: 1px 0 2px 0 rgba(0,0,0,0.15)
	transition: left 0.2s, box-shadow 0.5s
	&:after,
	&:before
		content: ''
		display: block
		position: absolute
		right: 7px
		width: 0
		height: 0
		border-top: 8px solid transparent
		border-bottom: 8px solid transparent
		border-right: 5px solid #000
		opacity: 0.4
		transition: opacity 0.3s
	&:before
		top: 25vh
	&:after
		top: 75vh

	&:hover
		left: 0
		box-shadow: 1px 0 4px 0 rgba(0,0,0,0.3)
		&:after, &:before
			opacity: 0

$main-width: calc(100% - #{$nav-clsd})
main
	box-sizing: border-box
	padding: 0
	position: fixed
	right: 0
	top: 0
	width: $main-width
	height: 100vh
	
.dialogue
	position: absolute
	top: 0
	width: calc(#{$main-width} - 60px)
	background: #eee
	border-radius: 10px
	padding: 20px
	margin: 20px
	.prompt
		margin-top: 0

.option
	input
		display: none

	label
		display: inline-block
		margin: 5px 0 0 40px
		border: 1px solid #ddd
		padding: 5px 15px
		border-radius: 5px
		background: #f8f8f8
	label:hover
		cursor: pointer
		background: #fff

	input:checked ~ label
		background: rgb(154, 226, 154)
	input:checked ~ label:before
		content: '✔'
		position: relative
		right: 5px

#throwin_file
	display: none

label[for="throwin_file"]
	position: absolute
	top: 40px
	right: 40px
	align-items: center
	text-align: center
	padding: 20px
	border-radius: 10px
	color: white
	font-size: 1.3em
	line-height: 1.7em
	cursor: pointer
	background: #356fea
	&:hover
		background-color: #487bea
	&:active
		background-color: #2c58b7

#tab_container::after
	content: 'No files yet!'
	display: block
	position: fixed
	bottom: 50px
	left: 0
	width: calc(100% - 20px)
	margin: 10px
	z-index: -1
	text-align: center
	padding-bottom: 30vh

.tabs
	position: absolute
	bottom: 7px
	left: 20px
	width: calc(100% - 20px)

.tab
	display: inline
	margin: 0
	font-size: 0
	& *
		font-size: initial
	> input
		display: none

	label
		position: relative
		font-size: initial
		box-sizing: border-box
		padding: 10px 25px 20px 25px
		color: #888
		border: 1px solid #bbb
		border-radius: 4px 4px 0 0

	label:hover
		color: #333
		cursor: pointer
		bottom: 2px

	input:checked ~ label
		color: #333
		background: #fff
		bottom: 5px

	.throwin
		display: block
		position: absolute
		bottom: 50px
		left: 0
		width: calc(100% - 20px)
		z-index: 0
		border: 1px solid #bbb
		& > div
			display: block
			height: 60vh
			background: white
		& .text
			white-space: pre
			overflow-x: auto
			font-family: "Ubuntu Mono", monospace
			padding: 10px
		& .table
			height: calc(60vh + 20px)
input:checked ~ .throwin
	display: block
	z-index: 9