@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono")

$nav_wdt: 250px
$main_wdt_nav: calc(100vw - #{$nav_wdt})
$head_hgt: 70px
$nav_hgt: 80px
$tool_hgt: 0px//30px
$button_hgt: 45px

*
	box-sizing: border-box
	font-size: 13px

body
	margin: 0
	padding: 0
	font-family: Open Sans, sans-serif

main
	position: fixed
	top: 0
	left: 0
	height: 100vh
	width: 100vw
	transition: width 0.2s
	display: flex
	flex-direction: column

main.sidebar
	width: $main_wdt_nav

#header_menu
	width: 100%
	height: $head_hgt
	display: flex
	align-items: center

	$logo_wdt: 50px
	.logo
		display: inline-block
		background: center/cover url('../resources/water-drop.jpg')
		width: $logo_wdt
		height: $logo_wdt
		margin: ($head_hgt - $logo_wdt) / 2

	.title_menu
		display: flex
		flex-direction: column
		justify-content: space-around

		.title
			display: inline-block
			padding: 0
			margin: 0
			font-size: 20px

		.menus
			display: flex
			flex-direction: row
			
			.menu
				margin-right: 10px
	
	.throwin_button
		margin-left: auto
		margin-right: 50px

		input
			display: none
		
		label[for$='file']
			display: flex
			align-items: center
			padding: 10px 15px
			font-size: 16px
			cursor: pointer
			background: #56a0e9
			color: #fff
			border-radius: 5px
			&:hover
				filter: brightness(0.9)
			&:active
				filter: brightness(0.8)

			div
				display: inline-block
				opacity: 1
				background: center/cover url('../resources/ico-file.png')
				filter: invert(1) brightness(3)
				width: 20px
				height: 20px
				margin-right: 6px

nav
	height: $nav_hgt
	border-top: 1px solid black

main.sidebar nav
	position: fixed
	top: 0
	right: 0
	height: 100vh
	width: $nav_wdt
	border-left: 1px solid black
	border-top: none
	overflow: hidden
	transition: right 0.2s

#dialogue
	padding: 10px 15px

	.prompt
		margin: 0 0 5px 0

	&.locked
		.option
			pointer-events: none
			opacity: 0.4


	.option
		display: inline-block
		margin-right: 15px

		input
			display: none

		label
			display: inline-block
			margin: 5px 0
			border: 1px solid #ddd
			padding: 5px 15px
			background: #f8f8f8
		label:hover
			cursor: pointer
			background: #fff

		input:checked ~ label
			background: #b5c4e5

#toolbar
	height: $tool_hgt
	//border-top: 1px solid black

#tabview
	width: inherit
	flex-grow: 1

main.sidebar #tabs
	height: calc(100vh - #{$head_hgt} - #{$tool_hgt})
	#throwin_set
		.throwin
			height: calc(100vh - #{$head_hgt} - #{$tool_hgt} - #{$button_hgt})

#tabs
	width: inherit
	height: calc(100vh - #{$head_hgt} - #{$nav_hgt} - #{$tool_hgt})

	#throwin_set
		.throwin
			border-top: 1px solid black
			width: 100%
			height: calc(100vh - #{$head_hgt} - #{$nav_hgt} - #{$tool_hgt} - #{$button_hgt})
			background: #fff
			display: none
			
		
		.throwin.active
			display: block

		.throwin .text
			white-space: pre
			overflow-x: auto
			font-family: "Ubuntu Mono", monospace
			padding: 10px
			height: inherit
		
		.throwin .table
			height: inherit

		.throwin .json_select
			overflow-x: auto
			padding: 10px
			height: inherit

			> label
				padding: 0
				display: inline-block
				&:last-of-type
					margin-bottom: 5px
				input
					display: none
				> span
					opacity: 0.5
					cursor: pointer
					span
						display: none
					&:before
						content: '☐ '
				input:checked ~ span
					opacity: 1
					&:before
						content: '☑ '
				&:hover
					> span, input:checked ~ span
						opacity: 0.7
						span
							display: inline
			input[type="button"]
				display: none
			label[for^="json_submit"]
				position: absolute
				top: 20px
				right: 35px
				background-color: #3ec435
				color: #fff
				padding: 10px 15px 
				border-radius: 5px
				cursor: pointer
				&:hover
					filter: brightness(0.9)
				&:active
					filter: brightness(0.8)
				&:before
					content: '✓ '
					font-weight: bold

		.throwin .webpage
			height: inherit

			iframe
				height: inherit
				width: 100%
				border: none

	#button_set
		display: flex
		align-items: flex-end
		width: inherit
		background: #eee
		height: 45px

		.tab_button
			position: relative
			display: flex
			align-items: center
			height: $button_hgt - 5px
			padding: 0 20px
			border: 1px solid lightgrey
			border-left: none
			background: #fff
			cursor: pointer
			overflow: hidden

		.tab_button.active::before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			height: 3px
			width: 100%
			background: #56a0e9

#tabs::after
	position: absolute
	content: 'No files yet!'
	display: block
	width: 100%
	z-index: -1
	text-align: center
	padding-top: calc(50vh - #{$head_hgt})


/* Tabulator overrides */
.tabulator
	margin-bottom: 0

.tabulator-cell
	height: auto !important
	font-size: 13px !important
	&.tabulator-editing
		padding-left: 3px !important
		& input
			font-size: 13px !important
